/* El color de fondo y la letra que se presentará en la página */

body {
	font-family:Calibri; background-color: #E3D7D0;
}

/* El tamaño que establecí para el heading H1.*/	

h1 {
	font-size: 50px
}

/* El tamaño que establecí para el heading H2.*/

h2 {
	font-size: 39px
}

/* El texto de la tabla se colocará en el centro.*/

table {
	text-align: center
}
		
/*Representa el color que será colocado en los vinculo. */
	
a {
	color: #0D221B
}

/* La letra y el tamaño de la letra establecida para los párrafos.*/	

p {
	font-family:Calibri; 
	font-size: 25px;
	text-align: left-side;
}

/* Coloca la línea hr más oscura y ancha.*/

hr {
	border: 2px solid black;
	width: 1100px;
	border-radius: 10px;
}

/* Requisitos para la barra de navegación.*/

#navigationbar {
	font-size:20px;
	display: block;
	background-color: #B59A84;
	padding: 5px 10px;
}

#textincenter {
	text-align: left
}

/* Función de la palabra Our que se encuentra al frente de la imagen del centro de la página.*/

.seccionYO{
	position:absolute;
	top:480px;
	left:130px;
	color: white;
	font-size: 90px;
}

.seccionYOU{
	position:absolute;
	top:550px;
	left:130px;
	color: white;
	font-size: 90px;
}




.buttonDownload {
	position:absolute;
	top: 1690px;
	left:970px;
	border-radius: 10px;
	padding: 12px 28px;
	color: #0D221B;
	font-size: 15px
}
