/* El color de fondo y la letra que se presentará en la página */

body {
	font-family:Calibri; background-color: #E3D7D0;
}

/* El tamaño que establecí para el heading H1.*/	

h1 {
	font-size: 50px
}

/* El tamaño que establecí para el heading H2.*/

h2 {
	font-size: 39px
}

/* El texto de la tabla se colocará en el centro.*/

table {
	text-align: center
}
		
/*Representa el color que será colocado en los vinculo. */
	
a {
	color: #0D221B
}

/* La letra y el tamaño de la letra establecida para los párrafos.*/	

p {
	font-family:Calibri; 
	font-size: 20px
}

/* Coloca la línea hr más oscura y ancha.*/

hr {
	border: 2px solid black;
	width: 1100px;
	border-radius: 10px;
}

/* Coloca una indentación en el párrafo que sea indicado.*/

.pIndent {
	text-indent: 50px;
	font-size: 20px;
}

/* Requisitos para la barra de navegación.*/

#navigationbar {
	font-size:20px;
	display: block;
	background-color: #B59A84;
	padding: 5px 10px;
}

.imgOp {
	opacity: 0.8
}


/* Función de la palabra Our que se encuentra al frente de la imagen del centro de la página.*/

.seccionOur {
	position:absolute;
	top:355px;
	left:85px;
	color:  #0D221B;
	font-size: 80px;
}

/* Función de la palabra Mission que se encuentra al frente de la imagen del centro de la página. */

.seccionMission {
	position:absolute;
	top: 440px;
	left:85px;
	color: #0D221B;
	font-size: 80px;
}

/* Titulo de la misión es colocado en la sección indicada.*/

.tituloMission {
	position:absolute;
	top: 1030px;
	left:95px;
	border: 20px;
	font-size:50px;
}

/* El borde de la imagen es más redondo en las esquinas.*/

.imageBorder {
	border-radius: 20%
}

/* Titulo de la Nuestro es colocado en la sección indicada.*/
.seccionOur {
	position:absolute;
	top:1440px;
	left:705px;
	color:  #0D221B;
	font-size: 50px;
}

/* Titulo de la History es colocado en la sección indicada.*/
.seccionHistory {
	position:absolute;
	top:1440px;
	left:805px;
	color:  #0D221B;
	font-size: 50px;
}
