/* El color de fondo y la letra que se presentará en la página */

body {
	font-family:Calibri; background-color: #E3D7D0;
}

/* El tamaño que establecí para el heading H1.*/	

h1 {
	font-size: 50px
}

/* El tamaño que establecí para el heading H2.*/

h2 {
	font-size: 39px
}

/* El texto de la tabla se colocará en el centro.*/

table {
	text-align: center
}
		
/*Representa el color que será colocado en los vinculo. */
	
a {
	color: #0D221B
}

/* La letra y el tamaño de la letra establecida para los párrafos.*/	

p {
	font-family:Calibri; 
	font-size: 20px
}

/* Coloca la línea hr más oscura y ancha.*/

hr {
	border: 2px solid black;
	width: 1100px;
	border-radius: 10px;
}

/* Coloca la línea hr más corta.*/
.hrCorta {
	border: 2px solid black;
	width: 750px;
	border-radius: 10px;
}
	

/* Coloca una indentación en el párrafo que sea indicado.*/

.pIndent {
	text-indent: 50px;
	font-size: 20px;
}

/* Requisitos para la barra de navegación.*/

#navigationbar {
	font-size:20px;
	display: block;
	background-color: #B59A84;
	padding: 5px 10px;
}

/* Función de la palabra Our que se encuentra al frente de la imagen del centro de la página.*/

.seccionDonate {
	position:absolute;
	top:555px;
	left:75px;
	color: white;
	font-size: 80px;
}

/*Cambia la opacidad de la imagen. */

.imgOp {
	opacity: 0.8
}

/* Titulo de la Lets Bark es colocado en la sección indicada.*/

.tituloLetsBark {
	position:absolute;
	top: 1030px;
	left:95px;
	border: 20px;
	font-size:40px;
}

/* El borde de la imagen es más redondo en las esquinas.*/

.imageBorder {
	border-radius: 20%
}

/* El borde de la tabla será colocada redonda. */

 .tdBorder {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #8B7766
 }
 
 /* El borde de la tabla se coloca redondo en otra sección de la tabla*/
.thDiferente {
	border: 2px solid black;
    border-radius: 10px;
	padding: 20px;
}

/* El color de fondo de la tabla se cambiará a color verde.*/
.thBackground {
	border: 2px solid black;
	background-color: #829E4D
}

.th, .td {
  padding: 15px;
}


	

