/* El color de fondo y la letra que se presentará en la página */

body {
	font-family:Calibri; background-color: #E3D7D0;
}

/* El tamaño que establecí para el heading H1.*/	

h1 {
	font-size: 50px
}

/* El tamaño que establecí para el heading H2.*/

h2 {
	font-size: 39px
}

/* El texto de la tabla se colocará en el centro.*/

table {
	text-align: center
}
		
/*Representa el color que será colocado en los vinculo. */
	
a {
	color: #0D221B
}

/* La letra y el tamaño de la letra establecida para los párrafos*/	
p { 
	font-size: 20px
}

/* Requisitos para la barra de navegación.*/

#navigationbar {
	font-size:20px;
	display: block;
	background-color: #B59A84;
	padding: 5px 10px;
}

/* Función para las tablas que tiene la letra y tamaño y se tiene que aplicar individualmente a la tabla. */
#mitabla{
	font-family:calibri;
	font-size: 20px
}

.imgOp {
	opacity: 0.8
}

/* Función de la palabra Connect que se encuentra al frente de la imagen del centro de la página.*/

.seccionConnect {
	position:absolute;
	top:355px;
	left:85px;
	color:  #0D221B;
	font-size: 80px;
}

/* Función de la palabra Rescue que se encuentra al frente de la imagen del centro de la página. */

.seccionRescue {
	position:absolute;
	top: 440px;
	left:85px;
	color: #0D221B;
	font-size: 80px;
}

/* Función de la palabra Safe que se encuentra al frente de la imagen del centro de la página. */

.seccionSafe {
	position:absolute;
	top: 520px;
	left:85px;
	color: #0D221B;
	font-size: 80px
}

/* Clase de botón Learn More*/

.buttonLearn {
	position:absolute;
	top: 690px;
	left:170px;
	border-radius: 10px;
	padding: 12px 28px;
	color: #0D221B;
	font-size: 15px
}
/*Coloca el texto Lets Stay Positive en la parte derecha de la página.*/

.seccionLetStay {
	position:absolute;
	top: 1025px;
	left:125px;
	border: 10px;
	padding: 12px 28px;
	color: #0D221B;
	font-size: 39px
}

/* Clase de botón About Us */

.buttonAbout {
	position:absolute;
	top: 1590px;
	left:670px;
	border-radius: 10px;
	padding: 12px 28px;
	color: #0D221B;
	font-size: 15px
}

/* Clase hr que hace mas grande la linea negra */

hr {
	border: 2px solid black;
	width: 1100px;
	border-radius: 10px;
}

/* Titulo de Pawsitive RescYou App */
.tituloPawsitive {
	position:absolute;
	top: 1680px;
	left:600px;
	border: 20px;
	font-size:80px;
}

/* Titulo de Pawsitive RescYou App */
.tituloRescYou {
	position:absolute;
	top:1745px;
	left:600px;
	color:  #0D221B;
	font-size: 80px;
}

/* Titulo de Pawsitive RescYou App */
.tituloAPP {
	position:absolute;
	top:1745px;
	left:895px;
	color:  #0D221B;
	font-size: 80px;
}

/* Buton download APP*/
.buttonAPP {
	position:absolute;
	top: 2040px;
	left:890px;
	border-radius: 10px;
	padding: 12px 28px;
	color: orange;
	font-size: 15px;
}


	
	
	
